<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-componentemongodb">
  <template>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        display: inline-block;
        background-color: #FF66CC;
      }
    </style>

    <!-- Metemos parte para interactuar con MongoDB -->
    <div><span>Conectamos con MongoDB....</span></div>
    <div><span>Esta es mi app key necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F y la <a href="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F">url</a> para ver los registros </span></div>
    <div>
      Titulo:
      <input type="text" name="tituloInput"/>
      <p>
      Texto:
      <input type="text" name="textoInput"/>
      <p>
        Nombre:
        <input type="text" name="textoNombre"/>
        <p>
        Autor:
        <input type="text" name="textoApellido"/>
    </div>

    <div><button type="button" name="btnGrabarPost" on-click="grabarPosts">Pulsa para añadir el nuevo registro a MongoDB</button></div>
    <p>
    <div><button type="button" name="btnObtenerPosts" on-click="obtenerPosts">Obtener el listado de registros de MongoDB</button></div>
    <p>
    <template is="dom-repeat" items="[[posts]]">
      <div>
        <b>Título:</b> [[item.titulo]], <b>Texto:</b> [[item.texto]]
        <br>Autor:
        <b>Nombre:</b> [[item.autor.nombre]] <b>Apellido:</b> [[item.autor.apellido]]
      </div>
    </template>

  </template>
    <script>

      Polymer({
        is: 'my-componentemongodb',
        properties: {
            url: {
              type: String,
              value: "https://api.mlab.com/api/1/databases/bootcamp/collections/posts"
            },
            apiKey: {
              type: String,
              value: "?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F"
            },
            posts: {
              type: Array,
              notify: true, //Automáticamente refresca cuando cambia algo...(se supone)
            }
        },
        listeners: {
        },
        grabarPosts: function() {
          var titulo = document.getElementsByName("tituloInput")[0].value;
          var texto = document.getElementsByName("textoInput")[0].value;
          var nombre = document.getElementsByName("textoNombre")[0].value;
          var apellido = document.getElementsByName("textoApellido")[0].value;
          var peticion = new XMLHttpRequest();
          peticion.open("POST", this.url + this.apiKey, true);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send('{"titulo":"' + titulo + '", "texto": "' + texto + '", "autor":{"nombre":"' + nombre + '", "apellido": "' + apellido + '"}}');

        },
        obtenerPosts: function() {
          var peticion = new XMLHttpRequest();
          peticion.open("GET", this.url + this.apiKey, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          this.posts = JSON.parse(peticion.responseText);
          sessionStorage["posts"] = peticion.responseText;
        },

    })
    </script>
</dom-module>
