<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-componenteposgree.html">
<link rel="import" href="my-componentemongodb.html">

<dom-module id="my-componenteblog">

  <template>
    <!--<my-componentemongodb hidden$="{{componentsVisibility}}"></my-componentemongodb>
    <my-componenteposgree hidden$="{{!componentsVisibility}}"></my-componenteposgree>-->
    <my-componentemongodb></my-componentemongodb>
    <my-componenteposgree hidden="{{!componentsVisibility}}"></my-componenteposgree>

  </template>

  <script>
    Polymer({
      is: 'my-componenteblog',
      properties: {
        componentsVisibility: {
          type: Boolean,
          value: false,
          notify: true
        }
      }
    });
  </script>
</dom-module>
