<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->

<dom-module id="my-componenteposgree">
  <template>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        /*display: inline-block;*/
        background-color: #FF66CC;
      }
      :host([hidden]) { display: none; }
    </style>
<div>prueba angela</div>
<p></p>
       <p>Introduce tu usuario y contraseña</p>
         <table>
           <thead>
             <tr>
               <th>
               <div class="group">
                 <label>Usuario (nick) </label>
             </th>
             <th>
               <div class="group">
                 <label>Password </label>

             </th>
           </tr>
         </thead>
         <tr>
           <th>
             <style>
               iron-input[invalid] > input {
                 border: 1px solid blue;
                 background-color: #FFCDD2;
               }
             </style>
             <iron-input type="text" value="{{usuario::input}}" required>
               <input placeholder="Introduzca su usuario (nick)">
             </iron-input>
             <span class="highlight"></span>
             <span class="bar"></span>
           </th>
           <th>
             <iron-input type="text" value="{{password::input}}" required>
               <input placeholder="Introduzca su contraseña">
             </iron-input>
             <span class="highlight"></span>
             <span class="bar"></span>
           </th>
           <th>
             <div><button type="button" name="button" on-tap="Logarse">Login</button></div>
           </th>
         </tr>
     </table>
     <div>fin prueba angela</div>


    <!-- Metemos parte para interactuar con MongoDB -->
    <div>
        Si aún no esta dado de alta debe Registrarse pulsando <a href="alta.html" target="_blank">Aqui</a>
      <!--  Si aún no esta dado de alta debe Registrarse pulsando <a href="alta" target="_self">Aqui</a>-->
    </div>
  </template>
    <script>
    var objeto;
      Polymer({
        is: 'my-componenteposgree',
        properties: {
            url: {
              type: String,
              value: "https://api.mlab.com/api/1/databases/bootcamp/collections/posts"
            },
            apiKey: {
              type: String,
              value: "?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F"
            },
            disable:{
              type: Boolean,
              value: false,
              notify: true
            },
            componentsVisibility: {
              type: Boolean,
              value: false,
              notify: true
            },
            posts: {
              type: Array,
              notify: true //Automáticamente refresca cuando cambia algo...(se supone)
            }
          //  hidden: { type: Boolean, value: false, reflectToAttribute: true, notify: true}
        },

        Logarse: function(e) {
                var peticion = new XMLHttpRequest();
                var URLItem = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_sofia";
                var parametro = "?usuario=eq."+this.usuario+"&password=eq."+this.password;
                URLItem = URLItem + parametro;
                peticion.open("GET", URLItem, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
                peticion.setRequestHeader("Authorization","Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic29maWEifQ.oxOhHAHasU_HRI8Mv9aoGEQTjQNvZtZ2HUWzgaxwlSI");
                peticion.send();
                var valores = JSON.parse(peticion.responseText);
                if( valores.length > 0 ) {
                      //this.hidden=true;
                      sessionStorage.setItem("logon", true);
                      sessionStorage.setItem("usuariologon", this.usuario);
                      window.location.assign("componentemongodb");
                      // logon=true;
                      // usuariologon=this.usuario;
                    }
                  else {
                    alert("Usuario y/o contraseña erroneos o no estas registrado");
                  };
                },
      login: function(e){
        alert(this.email);
       /*var pet_login = new XMLHttpRequest();
       var url = URL_BASE_LOGIN + "?select=usuario,email,nombre,apellidos&&email=eq." + this.email + "&&password=eq." + this.password;
       console.log(url);
       pet_login.open("GET", url, false);
       pet_login.setRequestHeader("Content-Type", "application/json");
       pet_login.setRequestHeader("Accept", "application/vnd.pgrst.object+json");
       pet_login.setRequestHeader("Access-Control-Allow-Origin", "*");
       pet_login.setRequestHeader("Authorization", "Bearer " +TOKEN_limpio);
       console.log(pet_login.responseText);
       console.log(pet_login.status);
       if(pet_login.status == 200) {
         alert("Se ha logeado correctamente");
       } else {
          alert("Usuario o contraseña no válidos. Vuelva a logearse o darse de alta");
       }*/
     }
})
</script>
</dom-module>
