<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-componentemongodb">
  <template>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        /*display: inline-block;*/
        background-color: #FF66CC;
      }
      :host([hidden]) {
        display: none;
      }
    </style>

    <!-- Metemos parte para interactuar con MongoDB -->

    <div><span>BLOG DE FFPA... Entra y participa</span></div>
    <p hidden$={{!disable}}>
      Para postear y comentar debes estar <button type="button" name="button" on-click="verlogin">Logado</button> quedara incluido vuestro nick en el posts o en el comentario
    <div>
      <button type="button" name="btnaltaPosts" id="btnaltaPosts" hidden$={{disable}} on-click="altaPosts">Dar de alta un nuevo posts</button>&nbsp;&nbsp;
      <button type="button" name="btnObtenerPosts" hidden$={{disable}} id="btnObtenerPosts"  on-click="obtenerPosts">Actualizar tras insertar nuevo post</button>
    </div>
    <p>
    <!--  <template>
    <span>{{carga}}</span>
  </template>-->
      <div>
            <table width="100%" frame="hsides" on-load="obtenerPosts">
              <tr><th>Titulo</th><th>Resumen</th><th>Fecha</th><th>Nick</th><th>Codigo</th><th>&nbsp;</th></tr>
              <template is="dom-repeat" items="[[posts]]">

              <tr align="right"><td>[[item.titulo]]</td><td>[[item.resumen]]</td><td>[[item.fecha]]</td><td>[[item.nick]]</td><td>[[item.codigo]]</td><td><button type="button" name="" on-tap="editar">[[item.codigo]]</button></td></tr>
            <!--  <br>Autor:
              <b>Nombre:</b> [[item.autor.nombre]] <b>Apellido:</b> [[item.autor.apellido]]-->

            </template>
          </table>
      </div>

      <div>
            <table width="100%" frame="hsides">
              <!--<tr><th>Titulo</th><th>Resumen</th><th>Fecha</th><th>Nick</th><th>Codigo</th><th>&nbsp;</th></tr>-->
              <template is="dom-repeat" items="[[comentarios]]">

              <tr align="right"><td>[[item.codigoentrada]]</td><td>[[item.nick]]</td><td>[[item.texto]]</td><td>[[item.fecga]]</td></tr>
            <!--  <br>Autor:
              <b>Nombre:</b> [[item.autor.nombre]] <b>Apellido:</b> [[item.autor.apellido]]-->

            </template>
          </table>
      </div>
  </template>
    <script>
var posts= new Array();
var objeto ;
var objetoMongo;

      Polymer({
        is: 'my-componentemongodb',
        properties: {
          disable: {
            type: Boolean,
            value: true,
            notify: true
          },
          componentsVisibility: {
            type: Boolean,
            value: false,
            notify: true
          },
            url: {
              type: String,
              value: "https://api.mlab.com/api/1/databases/bootcamp/collections/entradas"
            },
            url2: {
              type: String,
              value: "https://api.mlab.com/api/1/databases/bootcamp/collections/comentarios"
            },
            apiKey: {
              type: String,
              value: "?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F"
            },
            posts: {
              type: Array,
              notify: true, //Automáticamente refresca cuando cambia algo...(se supone)
            },
            comentarios: {
              type: Array,
              notify: true, //Automáticamente refresca cuando cambia algo...(se supone)
            },
            carga: {
         type: String,
         computed: 'obtenerPosts()',
          }
        },
        listeners: {
        },

        ready: function() {
          var conectado= sessionStorage.getItem("logon");
          if (conectado)
            this.disable=false;
      },
        altaPosts: function() {
          /*var titulo = document.getElementsByName("tituloInput")[0].value;
          var resumen = document.getElementsByName("resumenInput")[0].value;
          var texto = document.getElementsByName("textoInput")[0].value;
          var fecha = document.getElementsByName("fechaInput")[0].value;
          var parametro='{"Titulo":"' + titulo + '", "Resumen": "' + resumen + '", "Texto": "' + texto + '", "Fecha": "' + fecha + '"}';
          alert (parametro);
          var peticion = new XMLHttpRequest();
          peticion.open("POST", this.url + this.apiKey, true);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send('{"titulo":"' + titulo + '", "resumen": "' + resumen + '", "texto": "' + texto + '", "fecha": "' + fecha + '"}');
          alert("metido");*/
          window.open("nuevaentrada.html","_blank");

        },
        obtenerPosts: function() {

          var peticion = new XMLHttpRequest();
          peticion.open("GET", this.url + this.apiKey, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          this.posts = JSON.parse(peticion.responseText);
          sessionStorage["posts"] = peticion.responseText;
        },
        editar: function(e){
          objeto = e.model;
          var cod=objeto.item.codigo;
          var peticion = new XMLHttpRequest();
          var parametro = "?codigo=eq."+cod;
          var URLItem = this.url2 + this.apiKey;
          peticion.open("GET", URLItem, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          this.comentarios = JSON.parse(peticion.responseText);
          sessionStorage["comentarios"] = peticion.responseText;
        },
        estadobotones: function(ver){
          console.log("entramos en la funcion estado botones" +ver);
          console.log(logon);
          return ver;
        },
        verlogin: function(){
          window.location.assign("componenteposgree");
        }
        //alert("hola");
        //window.load=obtenerPosts;
    })

    </script>
</dom-module>
