<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-componentealta">
  <template>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        margin-left: 150px;
        margin-top: 50px;
        display: inline-block;
        background-color: #CEE3F6;
      }
    </style>

    <!-- Metemos parte para interactuar con MongoDB -->
    <center><img src="../images/sentado.jpeg"></center>
    <!-- Metemos parte para interactuar con MongoDB -->
    <div><span><h1>Registrate....</h1></span></div>
    <div><span><h3>Es gratis y seguira siendolo....</h3></div>
    <!--<div><span>Esta es mi app key necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F y la <a href="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F">url</a> para ver los registros </span></div>
    --><div>
      User ID:
      <input type="text" name="userInput"/>
      <p>
      Email:
      <input type="text" name="emailInput"/>
      <p>
      Repetir Email:
      <input type="text" name="repetiremailInput"/>
      <p>
      Password:
      <input type="text" name="passwordInput"/>
      <p>
      Repetir Password:
      <input type="text" name="repetirpasswordInput"/>

      <p>
      <center><div><button type="button" name="btnAlta" on-click="Registrarse">Registrar</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" name="btnCerrar" on-click="Cerrar">Cerrar</button>
      </center>
      <p>
          </div>
  </template>
    <script>

      Polymer({
        is: 'my-componentealta',
        properties: {
            url: {
              type: String,
              value: "https://api.mlab.com/api/1/databases/bootcamp/collections/posts"
            },
            apiKey: {
              type: String,
              value: "?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F"
            },
            posts: {
              type: Array,
              notify: true, //Automáticamente refresca cuando cambia algo...(se supone)
            }
        },
        listeners: {
        },
        grabarPosts: function() {
          var titulo = document.getElementsByName("tituloInput")[0].value;
          var texto = document.getElementsByName("textoInput")[0].value;
          var nombre = document.getElementsByName("textoNombre")[0].value;
          var apellido = document.getElementsByName("textoApellido")[0].value;
          var peticion = new XMLHttpRequest();
          peticion.open("POST", this.url + this.apiKey, true);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send('{"titulo":"' + titulo + '", "texto": "' + texto + '", "autor":{"nombre":"' + nombre + '", "apellido": "' + apellido + '"}}');

        },
        obtenerPosts: function() {
          var peticion = new XMLHttpRequest();
          peticion.open("GET", this.url + this.apiKey, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          this.posts = JSON.parse(peticion.responseText);
          sessionStorage["posts"] = peticion.responseText;
        },
        Registrarse: function() {

                //elemento = this.$;
                var usuario = document.getElementsByName("userInput")[0].value;
                var email = document.getElementsByName("emailInput")[0].value;
                  var email2 = document.getElementsByName("repetiremailInput")[0].value;
                var password = document.getElementsByName("passwordInput")[0].value;
                var password2 = document.getElementsByName("repetirpasswordInput")[0].value;
                if (email!=email2)
                  alert("Los emails debe ser iguales");
                else if (password!=password2)
                  alert("Las contraseñas deben ser iguales");
                    else
                      {

                var peticion = new XMLHttpRequest();
                var URLItem = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_sofia";

                peticion.open("POST", URLItem, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
                peticion.setRequestHeader("Authorization","Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic29maWEifQ.oxOhHAHasU_HRI8Mv9aoGEQTjQNvZtZ2HUWzgaxwlSI");
              var parametro = "";
                parametro += '{"usuario":"';
              parametro += usuario;
                parametro += '", "email":"';
                parametro += email;
                parametro += '", "password":"';
                parametro += password;
                              parametro += '"}';
                //console.log(parametro);
                peticion.send(parametro);
                alert ("Registro Nick: "+usuario+" Efectuado correctamente");
                }
            },
          Cerrar:function(){

              window.close();
          },

    })
    </script>
</dom-module>
